.title {
  color: white;
  font-size: 4rem;
  font-weight: 800;
  font-family: 'Nunito Sans', sans-serif;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}

.subtitle {
  color: white;
  font-size: 2rem;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}

#hero-img {
  background: url('/static/carlos-muza-hpjSkU2UYSU-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

footer{
  padding: 2rem 1rem 2rem !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#fill-page {
  flex: 1;
}
