{% set title = "About us" %}
{% set image_padding = "4" %}
{% extends "base.html" %}

{% block content %}
<div class="hero--group">
  <div class="container">
    <h1>Our team</h1>
    <div class="row">
      {% for m in members %}
      {% with name=m.name, location=m.location, bio=m.bio %} {% include "components/member.html"  %} {% endwith %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="hero--group">
  <div class="container">
    <h1>Past members</h1>
    <div class="row">
      {% for m in past_members %}
      {% with name=m.name, location=m.location, bio=m.bio %} {% include "components/member.html"  %} {% endwith %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
