{% set title = "About us" %}
{% extends "base.html" %}

{% block content %}
<div class="container">

<br>
<div class="content">
<h1 class="is-1">Our team</h1>
</div>
<div class="columns">

{% include 'card_start.html' %}
{% markdown %}

## [Viktor Petukhov](https://www.linkedin.com/in/v-petukhov)

*Copenhagen, Denmark*

Viktor is a PhD candidate in the University of Copenhagen. His main focus is on interpretable data analysis and statistical modeling. Having experience in academic research and for-profit AI consulting, he is now shifting towards providing infrastructure for new EA organizations.

{% endmarkdown %}
{% include 'card_end.html' %}


{% include 'card_start.html' %}
{% markdown %}

## [Jaime Raldua Veuthey](https://www.linkedin.com/in/jaime-raldua-veuthey-0473aa64/)

*Munich, Germany*

TODO

{% endmarkdown %}
{% include 'card_end.html' %}


{% include 'card_start.html' %}
{% markdown %}

## [Georg Wind](https://www.linkedin.com/in/georg-wind/)

*Konstanz, Germany*

TODO

{% endmarkdown %}
{% include 'card_end.html' %}

<br>
</div>

<div class="content">
<h1 class="is-1">Past members</h1>
</div>

<div class="columns">

{% include 'card_start.html' %}
{% markdown %}

## [Severin Trösch](https://www.linkedin.com/in/severin-tr%C3%B6sch-0a8a37103/)

*Bern, Switzerland*

**Original founder of SEADS!** Now, Senior Data Scientist at Datahouse AG.

{% endmarkdown %}
{% include 'card_end.html' %}


{% include 'card_start.html' %}
{% markdown %}

## [Elena Plekhanova](https://www.linkedin.com/in/elena-plekhanova-9367a910a/)

*Zurich, Switzerland*

PHD Student in Ecology at University of Zurich. Expert in analysis of ecological data.

{% endmarkdown %}
{% include 'card_end.html' %}


{% include 'card_start.html' %}
{% markdown %}

## [David Marti](https://www.linkedin.com/in/david-b-marti/)

*Basel, Switzerland*

Researcher in climate change and emerging technology for evidence-based policy-making

{% endmarkdown %}
{% include 'card_end.html' %}


</div>

</div>

{% endblock %}
