{% set title = "Data Science for Effective Good" %}
{% extends "base.html" %}

{% block image_size %} is-medium {% endblock %}
{% block image_text %}
<h1 class="title is-1">SEADS</h1>
<h2 class="subtitle">{{title}}</h2>
{% endblock %}

{% block content %}
<section class="container">
<div class="hero-body">
<div class="container content is-medium" style="width:90%; align:center; text-align: justify;">
{% markdown %}

**SEADS** is a Data Science consultancy focused on supporting highly-effective charities. Our services cover a broad range from executing concrete projects to using data for informing strategical decisions or optimizing data pipelines in your organization. We can help you with a broad range of projects, including:

- Exploratory Data Analysis and Data Visualization
- Survey analysis
- Setting up dashboards and data pipelines
- Data scrapping
- Network analysis
- Natural Language Processing
- Computer Vision
- Statistical modeling
- ... most of other data-related tasks

Even if you don't have a concrete project in mind, but think that you could benifit from better interaction with your data, please [reach out to us](/contact.html)!

{% endmarkdown %}

</div>
</div>
</section>
{% endblock %}
